@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
   --primary: #525fe1;
   --primary-hover: #3f49ae;
   --secondary: #f76f01;
   --light-gray: #f0f0f0;
   --gray: #666;
   --light-bg: #fff7f5;
   --white: #fff;
   --black: #2c3e50;
   --border: .1rem solid rgba(0, 0, 0, .3);
   --box-shodow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
   font-family: 'Rubik', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

.button-lg-primary {
   text-decoration: none;
   width: 237px;
   height: 70px;
   align-items: center;
   background-color: var(--black);
   color: var(--white);
   border: none;
   font-size: 20px;
   font-weight: 700;
}

.btn-cart {
   width: 100%;
   color: var(--secondary);
   border: 2px solid var(--secondary)
}

.btn-cart:hover {
   color: white;
   background-color: var(--secondary);
   border: 2px solid var(--secondary);
}

.btn-logout {
   background-color: var(--secondary);
   border: 2px solid var(--secondary);
   color: white;
   text-transform: capitalize;
}

.btn-logout:hover {
   border: 2px solid var(--secondary);
   color: var(--secondary);
   text-transform: capitalize;
}

.btn-login {
   border: 2px solid var(--primary);
   color: var(--primary);
   text-transform: capitalize;
}

.btn-login:hover {
   border: 2px solid var(--primary);
   background-color: var(--primary);
   color: white;
   text-transform: capitalize;
}

.btn-register {
   border: 2px solid var(--primary);
   background-color: var(--primary);
   color: white;
   text-transform: capitalize;
}

.btn-register:hover {
   border: 2px solid var(--primary-hover);
   background-color: var(--primary-hover);
   color: white;
   text-transform: capitalize;
}

.shopping-cart {
   font-size: 1.5rem;
   color: var(--black);
}

.carousel>.carousel-inner>.carousel-item>img {
   width: 100%;
   height: 220px;
   object-fit: cover;
}

.carousel .carousel-inner {
   border-radius: 18px;
}

.header .flex .navbar .container .collapse a {
   font-size: 1.2rem;
   color: var(--black);
   margin: 0 1rem;
   text-decoration: none;
}

.header {
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   background-color: var(--white);
   border-bottom: var(--border);
}

.header .flex .navbar .collapse a:hover {
   color: var(--primary);
   text-decoration: underline;
}

.account_name {
   color: var(--black);
   text-decoration: none;
   margin: 0 0 0 .4rem;
}

.header .flex .navbar .container .account_name:hover {
   color: var(--primary);
   text-decoration: underline;
}

.header .flex .navbar a span {
   margin-left: .6rem;
   padding: .3rem .7rem;
   background-color: var(--primary);
   color: var(--white);
   border-radius: .5rem;
}

.cart-icon a {
   font-size: 1.2rem;
   color: var(--black);
   margin: 0 1rem;
   text-decoration: none;
}

.cart-btn:hover {
   color: var(--primary);
   text-decoration: underline;
}

.footer .grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
}

.footer .grid .box {
   border: var(--border);
   padding: 1rem;
   text-align: center;
}

.footer .grid .box img {
   height: 5rem;
   width: 100%;
   object-fit: contain;
   margin-bottom: .5rem;
}

.footer .grid .box h3 {
   margin: 10px;
   font-size: 20px;
   color: black;
   text-transform: capitalize;
}

.footer .grid .box p,
.footer .grid .box a {
   display: block;
   font-size: 16px;
   color: var(--gray);
   line-height: 1.8;
}

.footer .grid .box a {
   text-decoration: none;
}

.footer .grid .box a:hover {
   text-decoration: underline;
}

.credit {
   padding: 1.6rem;
   text-align: center;
   background-color: var(--black);
   color: var(--white);
   font-size: 20px;
}

.products .d-flex .card:hover {
   transform: scale(1.01);
   box-shadow: #2c3e50;
}

.d-flex .card {
   transition: .1s;
}

.card .card-body .btn:hover {
   color: white;
}

.card>img {
   width: 100%;
   height: 240px;
   object-fit: contain;
}

.fa-user {
   font-size: 4rem;
   padding: 10px;
   border: var(--border);
   border-radius: 8px;
}

.form-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container form {
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3 {
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: #333;
}

.form-container form .box,
.form-container form select {
   width: 100%;
   padding: 10px 15px;
   font-size: 17px;
   margin: 8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option {
   background: #fff;
}

.form-container form .form-btn {
   background-color: transparent;
   border: 2px solid var(--secondary);
   color: var(--secondary);
   font-size: 20px;
   cursor: pointer;
   transition: .2s;
   text-transform: capitalize;
}

.form-container form .form-btn:hover {
   background: var(--secondary);
   color: #fff;
}

.form-container form p a:hover {
   color: var(--secondary);
}

.form-container form p {
   margin-top: 10px;
   font-size: 20px;
   color: var(--gray);
}

.form-container form p a {
   color: var(--gray);
   transition: .1s;
}

.form-container form p a:hover {
   color: var(--secondary);
}

.form-container form .error-msg {
   margin: 10px 0;
   display: block;
   background: crimson;
   color: #fff;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
}

.btn-outline-warning:hover {
   color: var(--white);
}

.message {
   position: sticky;
   background-color: var(--primary);
}

.message span {
   font-size: 2rem;
   color: var(--black);
}

.message i {
   font-size: 2.5rem;
   color: var(--red);
   cursor: pointer;
}

.message i:hover {
   color: var(--black);
}

.products .card .card-body .cat {
   text-decoration: none;
   color: #666;

}

.products .card .card-body .cat:hover {
   text-decoration: underline;
   color: var(--black);
}

.qty {
   padding: 8px;
   justify-content: center;
   border: 2px solid var(--secondary);
   border-radius: 8px;
}

.fa-check {
   padding: 12px;
   background-color: transparent;
}

.fa-trash {
   margin-top: 10px;
   border-radius: 6px;
}

.profile_photo {
   display: flex;
   justify-content: center;
}

.profile_photo>img {
   border: 2px solid var(--black);
   border-radius: 50%;
   object-fit: cover;
   width: 240px;
   height: 240px;
}

.checkout form .cart-items .grand-total {
   background-color: var(--white);
   padding: .5rem 1.5rem;
}

.checkout form .cart-items .grand-total .price {
   color: var(--red);
}

.contact .d-flex form .box {
   width: 100%;
   padding: 10px 15px;
   font-size: 17px;
   margin: 8px 0;
   background: #eee;
   border-radius: 5px;
}

#hero {
   height: 100vh;
   width: 100%;
 }

.img-hero {
   height: 70%;
   margin-bottom: 80px;
}

.hero-tagline h1 {
   color: var(--black);
   font-weight: 700;
   font-size: 50px;
   line-height: 72px;
 }
 
 .hero-tagline p {
   font-size: 16px;
   color: var(--black);
   margin-bottom: 60px;
   margin-top: 20px;
   line-height: 30px;
   width: 85%;
 }